
.body {
    background-color: #FFFFFF;
    
}


*,
*::before,
*::after {
    box-sizing: border-box;
}

a {
    display: flex;
}


ul li {
    list-style-type: none;
    padding-left: 0;
}

section {
    margin-bottom: 94px;
}




/* layaouts */

.header {
    width: 1600px;

}
.container {
    max-width: 1200px;
    margin: 0 auto;
    width: 100%;
    padding-top: 0%;         
       
}

.page {
    border-bottom: 1px solid #ECECEC;

}



.header-inner {
    display: flex;        
    height: 80px;
    align-items: center;
    
    
}




/* Шапка сайта */

.logo {
    font-family: 'Raleway', sans-serif;    
    font-weight: 700;
    font-size: 26px;
    line-height: 1.2;
    letter-spacing: 0.03em;
    color: #000000;
    text-decoration: none;
    margin-right: 93px;
    
    
    
}


.header-list {
    padding-left: 0;
}


.header-contacts {
    padding-left: 331px;
    
}

.logo-studio {   

    font-weight: 700;
    font-size: 26px;
    line-height: 1.2;
    letter-spacing: 0.03em;
    color: #2196F3;
    text-decoration: none;
    
    
    

}

.menu-link {
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.1;
    letter-spacing: 0.02em;
    color: #212121;
    text-decoration: none;
    margin-left: 0;
    
    
    
}



.menu-item {
    display: inline-flex;
    margin-right: 50px;

}

.menu-item:last-child {
    margin-right: 0;

}


.menu-link:hover {
    color: #2196F3;
}

.contact-type {
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.1;
    letter-spacing: 0.02em;
    color: #757575;
    text-decoration: none;    
  

}

.contact-type:hover {
    color: #2196F3;
}


.header-contact-link {
    display: inline-flex;
    margin-right: 50px;
   
    
}


.header-contact-link:last-child {    
    margin-right: 0;

}   
/* Шапка */
.hero {    
    background-color: #2F303A;
    height: 600px;
    

}

.solution {
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 900;
    font-size: 44px;
    line-height: 1.4;     
    text-align: center;
    letter-spacing: 0.06em;
    text-transform: uppercase;    
    color: #FFFFFF;
    max-width: 696px;
    margin: 0 auto;    
    margin-bottom: 30px;
    padding-top: 200px;
   
    
}


.button-color {
    font-family: 'Roboto', sans-serif;
    padding: 10px 32px;
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.9;      
    display: flex;
    align-items: center;
    text-align: center;
    letter-spacing: 0.06em;         
    color: #FFFFFF;
    background-color: #2196F3;
    border: 1px solid transparent;
    border-radius: 0.1em;
    cursor: pointer;
    text-decoration:none;
    margin: 0 auto;
   

}


.button-menu {
    display: flex;
    justify-content: center;
    gap: 8px;     

}


.button-list {
    margin-top: 94px;
    margin-bottom: 50px;
}

/* Особенности */


.title {
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 1.1;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #212121;
}

.specific-text {
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;    
    letter-spacing: 0.03em;    
    color: #757575;
    margin-bottom: 0%;
    margin-top: 0%;
}




.title-text {
    display: flex;
    justify-content: space-between;      
    padding-left: 0;
    margin-top: 0;
    margin-bottom: 0%;
    gap: 30px;    ;
  
}






.title {
    margin-top: 0;
    margin-bottom: 10px;
    


}


/* Чем мы занимаемся */




.work-position {
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    font-size: 36px;
    line-height: 1.2;
    text-align: center;
    letter-spacing: 0.03em;
    color: #212121; 
    margin-bottom: 50px;
    margin-top: 0;  
        

}

.work {
    display: flex;
    justify-content: space-between;
    padding-left: 0;


}


/* Команда */

.team {
    background-color: #F5F4FA;
    height: 648px;
}

.team-list {
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    font-size: 36px;
    line-height: 1.2;
    text-align: center;
    letter-spacing: 0.03em;
    color: #212121;
    padding-top: 94px;
    margin: 0 auto;

}

.all-team {
    display: flex;
    justify-content: space-between;
    padding-left: 0;
    margin-top: 50px;
    margin-bottom: 0;
    
}


.name {
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.2;    
    letter-spacing: 0.03em;    
    color: #212121;
    margin-bottom: 10px;
    margin-top: 30px;
  
}

.job-title { 
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.2;    
    letter-spacing: 0.03em;    
    color: #757575;
    margin-top: 10px;
}

.comand-card {    
    width: 270px;
    height: 368px;
    left: 215px;
    top: 1635px;
    background: #FFFFFF;       
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 0px 0px 4px 4px;
    text-align: center;
}

/* Все */

.list {
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 2;           
    letter-spacing: 0.06em;    
    color: #212121;
    margin-left: 24px;
    margin-top: 20px;
    margin-bottom: 4px;
    
  
    
         

}



.list-team {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding-left: 0%;  
    gap: 30px;

    
    

}



.text {
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.9;       
    letter-spacing: 0.03em;    
    color: #757575;
    margin-left: 24px;
    margin-top: 0;
    
        
}

.portfolio-card {
    width: 370px;
    height: 404px;
    left: 215px;
    top: 1130px;
    border: 1px solid #EEEEEE;
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
    
}
/* Кнопки */


.button {
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.6;
    text-align: center;
    letter-spacing: 0.03em;
    padding: 6px 22px;
    color: #212121;
    background-color: #F5F4FA;
    border: 1px solid transparent;
    border-radius: 0.1em;
    cursor: pointer;
}


.button:hover {
    color: #FFFFFF;
    background-color: #2196F3;
}

 /* Подвал */

.footer {     
    background: #2F303A;
    height: 252px;
   
}



.footer-contacts {
    padding-left: 0;
    margin-top: 20px;
    margin-bottom: 0%;
    
}

.contact-link {
    row-gap: 9px;
}


.home {
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.7;    
    letter-spacing: 0.03em;    
    color: #FFFFFF;
    text-decoration: none;
    margin-bottom: 9px;

}

.footer-logo {
    font-family: 'Raleway', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.2;
    letter-spacing: 0.03em;
    color: #FFFFFF;     
    text-decoration: none;
    padding-top: 60px;


 }

.footer-logo-studio {
    font-family: 'Raleway', sans-serif;     
    font-weight: 700;
    font-size: 26px;
    line-height: 1.2;
    letter-spacing: 0.03em;
    color: #2196F3;
    text-decoration: none;

}


.footer-contact-mail {
    font-family: 'Roboto', sans-serif; 
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 2;     
    letter-spacing: 0.03em;
    color: rgba(255, 255, 255, 0.6);
    text-decoration: none;
    margin-bottom: 9px;

}


.footer-contact-tel {
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 2;
    letter-spacing: 0.03em;
    color: rgba(255, 255, 255, 0.6);
    text-decoration: none;
    

}


.footer-contact-type:last-child {    
    margin-top: 0;

}    